.bottle {
    background-color: #8ba2a2;
    padding: 2rem;
    border-radius: 1rem;
}

.bottle h2 {
    font-size: 1.5rem;
    background-color: aliceblue;
    padding: .5rem;
    border-radius: 1rem;
}

.bottle img {
    height: 20rem;
    width: 19rem;
    border-radius: 1rem;
}

.bottle p {
    font-size: 1.3rem;
    background-color: aliceblue;
    padding: .5rem;
}

.bottle button {
    width: 100%;
    padding: 1rem;
    background-color: #f7f2f2;
    border: none;
    color: #000;
    font-size: 1.1rem;
    border-radius: 3rem;
}

.bottle button:hover {
    background-color: #e3e0e0;
    color: #0c0606;
}