.bottles {
    background-color: #022f30;
    padding: 1rem 1rem 5rem;
    border-radius: 2rem;
}

.bottles_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.bottles>h3,
.bottles>h2 {
    color: white;
}